body{
    background-image: url("/img/book store.jpg") ;
    background-position: center;
    background-size:cover;
    min-height: 90rem;
}
main{
    width: 90%;
    margin: 10rem auto;

}
.title{
    color: burlywood;
    font-size: 4rem;
}
.filter-items{
    list-style: none;
    display: flex;
    margin-top: 40px;
}
.filter-item{
    color: burlywood;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
    user-select: none;

}
.filter-item:hover{
    color: rgb(190, 159, 118);
}
.active{
    border-bottom: 1.5px  solid rgb(229, 190, 138);
}
.books {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping of items */
    gap: 2rem; /* Space between items */
}

.book-container {
    align-items: center;
    background-color: rgb(219, 219, 219);
    min-height: max-content;
    border-radius: 0.3rem;
    padding: 4rem 4rem 3rem 4rem;
    box-shadow: 5px 5px 6px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all 300ms ease-in-out;
    width: calc(25% - 2rem); /* 4 items per row with 2rem gap between them */
    box-sizing: border-box; /* Ensure padding and margin are considered in the width calculation */
}


.book-cover img{
    max-width: 192px;
    max-height: 247px;
}
.author{
    font-size: 1.1rem;
    max-width: fit-content;
}
.book-title{
    font-size: 1.5rem;
    color: rgb(55, 55, 55);
    margin-top: 5px;
    max-width: fit-content;
}
.book_quantity {
    font-size: 0.9rem;
    color: #555;
    margin-top: 5px;
}
.book-container svg{
    position: absolute;
    right: 1px;
    top: -11px;
    cursor: pointer;
    min-width: 41px;
    min-height: 85px;
}

.hide{
    display: none;
}
.show {
    display: block;
    animation: anim 300ms ;
}
.book-container.show{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes anim{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}